.container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.card {
  margin: 30px 25px;
  text-align: center;
  border: solid 2px gray;
  border-radius: 15px;
  padding: 20px;
}

.card>img {
  width: 150px;
}
